{% extends "layout.html" %}
{% from 'back-link/macro.njk' import backLink %}
{% from 'button/macro.njk' import button %}
{% from 'radios/macro.njk' import radios %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    href: "#",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
          Quarter 1, 2025
      </h1>

    <div style="width: 800px;"><canvas id="acquisitions"></canvas></div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="/assets/javascript/src/charts.js"></script>

{% endblock %}