
{% extends 'layout.html' %}

{% set pageName = "Home" %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>NHSBSA Accessibility Tracker Prototype</h1>
      <p>Quarterly reports for the top 5 WCAG failures reported for services audited by our team.</p>
      <h2>2025</h2>
      <ul class="nhsuk-list">
        <li><a href="./2025-pages/quarter-2">Quarter 2, 2025</a></li>
        <li><a href="./2025-pages/quarter-1">Quarter 1, 2025</a></li>
      </ul>
      <h2>2024</h2>
      <ul class="nhsuk-list">
        <li><a href="./2024-pages/quarter-4">Quarter 4, 2024</a></li>
        <li><a href="./2024-pages/quarter-3">Quarter 3, 2024</a></li>
        <li><a href="./2024-pages/quarter-2">Quarter 2, 2024</a></li>
        <li><a href="./2024-pages/quarter-1">Quarter 1, 2024</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
