{% extends "prototype-kit-template.njk" %}

{% block head %}
  <link href="/css/main.css" rel="stylesheet">
  <script src="/nhsuk-frontend/nhsuk.min.js" defer></script>
{% endblock %}
{% block header %}
  {{ header({
    service: {
      name: serviceName,
      href: "/"
    },
    showNav: "false",
    showSearch: "false"
  }) }}
{% endblock %}

{% block footer %}
  {{ footer({
    links: [
      {
        URL: "/",
        label: "Home"
      }
    ]
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
