{% extends "prototype-kit-template.njk" %}

{% block head %}
  <link href="/css/main.css" rel="stylesheet">
  <script src="/nhsuk-frontend/nhsuk.min.js" defer></script>
{% endblock %}
{% block header %}
  {{ header({
    service: {
      name: serviceName,
      href: "/"
    },
    showNav: "false",
    showSearch: "false"
  }) }}
  <div class="nhsuk-navigation-container nhsuk-header">
    <nav class="nhsuk-navigation" id="header-navigation" role="navigation" aria-label="Primary navigation">
      <ul class="nhsuk-header__navigation-list">
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" aria-expanded="false" aria-controls="nav-2025-submenu" id="nav-2025-toggle">
            2025
          </a>
          <ul class="nhsuk-list" id="nav-2025-submenu" hidden>
            <li class="nhsuk-header__navigation-subnav-item">
              <a class="nhsuk-header__navigation-link" href="/2025-pages/quarter-1">Quarter 1, 2025</a>
            </li>
            <li class="nhsuk-header__navigation-subnav-item">
              <a class="nhsuk-header__navigation-link" href="/2025-pages/quarter-2">Quarter 2, 2025</a>
            </li>
          </ul>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link nhsuk-header__navigation-link--dropdown" aria-expanded="false" aria-controls="nav-2024-submenu" id="nav-2024-toggle" type="button">
            2024
          </a>
          <ul class="nhsuk-list" id="nav-2024-submenu" hidden>
            <li class="nhsuk-header__navigation-subnav-item">
              <a class="nhsuk-header__navigation-link" href="/2024-pages/quarter-1">Quarter 1, 2024</a>
            </li>
            <li class="nhsuk-header__navigation-subnav-item">
              <a class="nhsuk-header__navigation-link" href="/2024-pages/quarter-2">Quarter 2, 2024</a>
            </li>
            <li class="nhsuk-header__navigation-subnav-item">
              <a class="nhsuk-header__navigation-link" href="/2024-pages/quarter-3">Quarter 3, 2024</a>
            </li>
            <li class="nhsuk-header__navigation-subnav-item">
              <a class="nhsuk-header__navigation-link" href="/2024-pages/quarter-4">Quarter 4, 2024</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block footer %}
  {{ footer({
    links: [
      {
        URL: "/",
        label: "Home"
      }
    ]
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
