{% extends "content-layout.html" %}
{% from 'details/macro.njk' import details %}
{% set pageHeading = failure and failure.name or (slug | replace("-", " ") | title) %}

{% block pageContent %}
  <h2>{{ failure.level }}</h2>
  {% if failure %}
    <p>{{ failure.description }}</p>
    {% if failure.details %}
      {{ details({
        text: "Show full WCAG guidance",
        html: failure.details
      }) }}
    {% endif %}
  {% else %}
    <p>No description available for this WCAG failure.</p>
  {% endif %}
{% endblock %}