{% extends "content-layout.html" %}
{% from 'details/macro.njk' import details %}
{% set pageHeading = failure and failure.name or (slug | replace("-", " ") | title) %}

{% block pageContent %}
  <h2>{{ failure.level }}</h2>
  {% if failure %}
    <p>{{ failure.description }}</p>
    {% if failure.details %}
      {{ details({
        text: "Show full WCAG guidance",
        html: failure.details
      }) }}
    {% endif %}
    <form method="POST" action="/wcag-failures/{{ slug }}/comment">
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="WCAGFailureExample">
          Can you provide an example fix?
        </label>
        <div class="nhsuk-hint" id="WCAGFailureExample-hint">
          Please include details of how you fixed this failure, which service the fix was on and any other relevant information.
        </div> 
        <textarea class="nhsuk-textarea" id="WCAGFailureExample" name="WCAGFailureExample" rows="5" aria-describedby="WCAGFailureExample-hint"></textarea>
      </div>
      <button class="nhsuk-button" id="WCAGFailureExample-submit" data-module="nhsuk-button" type="submit">
        Submit fix
      </button>
    </form>
    {% if comments and comments.length > 0 %}
      <h3>Submitted comments</h3>
      <ul class="nhsuk-list">
        {% for comment in comments %}
          <li>
            <div class="nhsuk-inset-text">
              <p>{{ comment.text | escape }}</p>
              <br>
              <form method="POST" action="/wcag-failures/{{ slug }}/comment/{{ comment.id }}/delete" style="display:inline;">
                <button class="nhsuk-button nhsuk-button--secondary" type="submit" style="margin-left:1em;">Delete</button>
              </form>
              <form method="GET" action="/wcag-failures/{{ slug }}/comment/{{ comment.id }}/edit" style="display:inline;">
                <button class="nhsuk-button nhsuk-button--secondary" type="submit" style="margin-left:0.5em;">Edit</button>
              </form>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% else %}
    <p>No description available for this WCAG failure.</p>
  {% endif %}
{% endblock %}